@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


:root {
    --font-primary: 'Inter', sans-serif;
}

body {
    width: 100%;
    font-family: var(--font-primary);
    overflow-x: hidden;
}

button,
a,
img,
i {
    -webkit-tap-highlight-color: transparent;
}

.fade-slide-up {
    opacity: 0;
    transform: translateY(20px);
}

.fade-slide-up.is-animated {
    animation: fadeSlideUp 0.8s ease-in-out forwards;
}

.fade-slide-up-delay-1.is-animated {
    animation-delay: 0.15s;
}

.fade-slide-up-delay-2.is-animated {
    animation-delay: 0.3s;
}

.fade-slide-up-delay-3.is-animated {
    animation-delay: 0.45s;
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.swiper-slide [data-animate] {
    opacity: 0;
    filter: blur(6px);
    transition: all 0.9s ease;
}

.swiper-slide-active [data-animate] {
    opacity: 1;
    filter: blur(0);
}

.swiper-slide-active [data-animate] {
    transition-delay: .2s
}